$buttonFadeDuration: .1s;

@mixin sa-button-color-generator($textColor, $backgroundColor) {
  background-color: $backgroundColor;
  color: $textColor;
  @include transition-property(background-color);
  @include transition-duration($buttonFadeDuration);
  @include transition-timing-function(ease-out);

  &:hover {
    background-color: lighten($backgroundColor, 10%);
  }

  &:active {
    background-color: darken($backgroundColor, 5%);
  }

  &:focus {
    background-color: rgba($backgroundColor, 1.0);
  }

  &[disabled] {
    background-color: desaturate($backgroundColor, 50%);
    color: desaturate($textColor, 50%);
    cursor: default;
  }
}

@mixin sa-button-size-generator($fontSize, $padding) {
  font-size: $fontSize;
  padding: $padding;
}

@mixin sa-button-icon-spacing($margin, $font-size, $line-height) {
  & i {
    font-size: $font-size;
    line-height: $line-height;
  }

  & i.left {
    margin-right: $margin;
  }

  & i.right {
    margin-left: $margin;
  }
}

.sa_button {
  @extend .helvetica;
  border-radius: 2px;
  @include make-unselectable();
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-align: center;
  line-height: 20px;

  &:hover {
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }

  a:hover {
    text-decoration: none;
  }

  // Override SA size options
  &.sa_tiny {
    @include sa-button-size-generator(.8em, 0px 6px);
    @include sa-button-icon-spacing(6px, inherit, inherit);
  }

  &.sa_small {
    @include sa-button-size-generator(.9em, 3px 12px 5px);
    @include sa-button-icon-spacing(6px, inherit, inherit);
  }

  &.sa_medium {
    @include sa-button-size-generator(1.2em, 6px 16px);
    @include sa-button-icon-spacing(8px, inherit, inherit);
  }

  &.sa_large {
    @include sa-button-size-generator(1.8em, 16px 30px);
    @include sa-button-icon-spacing(14px, inherit, inherit);
  }

  // Override SA color options
  &.sa_blue {
    @include sa-button-color-generator(white, $shiftButtonBlue);
  }

  &.sa_orange {
    @include sa-button-color-generator(white, $shiftOrange);
  }

  &.sa_green {
    @include sa-button-color-generator(white, $shiftGreen);
  }

  &.sa_salmon {
    @include sa-button-color-generator(white, $shiftSalmon);
  }

  &.sa_gray {
    @include sa-button-color-generator($shiftCharcoal, $shiftGray);
  }

  &.sa_rouge {
    @include sa-button-color-generator(white, $shiftRouge);
  }
}

// This is a special class for using icons that do not space properly
// (e.g. Forward/Back chevron arrows)
//
// sa_button has some styling for other icons that display properly
// without special sizing workarounds.
.sa_icon_button {
  @extend .sa_button;

  i {
    position: relative;
  }

  &.sa_tiny i {
    top: 2px;
  }

  &.sa_small {
    @include sa-button-icon-spacing(0, inherit, inherit);
    i {
      top: 2px;

      &.left {
        left: -4px;
      }

      &.right {
        right: -4px;
      }
    }
  }

  &.sa_medium {
    @include sa-button-icon-spacing(-8px, inherit, inherit);
    i {
      top: 3px;

      &.left {
        left: -6px;
      }

      &.right {
        right: -6px;
      }
    }
  }

  &.sa_large {
    @include sa-button-icon-spacing(8px, inherit, inherit);
    i {
      top: 4px;

      &.left {
        left: -8px;
      }

      &.right {
        right: -8px;
      }
    }
  }

}
