@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// Font Sizes
$saFormFontSizeTiny: 12px;
$saFormFontSizeSmall: 14px;
$saFormFontSizeMedium: 16px;
$saFormFontSizeLarge: 18px;

// Widths
$saFormFieldWidthSmall: 155px;
$saFormFieldWidthMedium: 184px;
$saFormInputWidthSmall: $saFormFieldWidthSmall - 16px;
$saFormInputWidthMedium: $saFormFieldWidthMedium - 20px;

// Paddings
$saFormInputPaddingTiny: 0px 2px;
$saFormInputPaddingSmall: 4px 6px;
$saFormInputPaddingMedium: 6px 8px;
$saFormInputPaddingLarge: 8px 10px;

// Margins
$saFormInputMarginTiny: 0 6px;
$saFormInputMarginSmall: 0 6px;
$saFormInputMarginMedium: 0 6px;
$saFormInputMarginLarge: 0 8px;

// Borders
$saFormBorderRadius: 2px;
$saFormBorderThickness: 1px;

// Colors
$saFormPlaceholderFontColor: $shiftGray;
$saFormAddonFontColor: black;
$saFormInputBackgroundColor: white;

// Light Theme Colors
$saFormLightThemeFontColor: $shiftCharcoal;
$saFormLightThemeLabelFontColor: $shiftCharcoal;
$saFormLightThemeValidBorderColor: $shiftBlue;
$saFormLightThemeInvalidBorderColor: $shiftRouge;

// Dark Theme Colors
$saFormDarkThemeFontColor: $shiftCharcoal;
$saFormDarkThemeLabelFontColor: $shiftGray;
$saFormDarkThemeValidBorderColor: $shiftBlue;
$saFormDarkThemeInvalidBorderColor: $shiftRouge;

.sa_select_wrapper {
  @include border-radius($saFormBorderRadius);
  background: $saFormInputBackgroundColor;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0 6px;

  & select {
    @include border-radius($saFormBorderRadius);
    appearance: none;
    background: transparent;
    border: solid $saFormBorderThickness;
    border-color: transparent;
    display: inline-block;
    margin: 0;
    outline: none;
    position: relative;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    -o-appearance: none;

    @include transition-property();
  }

  & .arrow {
    // TODO: Use triangle mixin from _shapes.scss
    position: absolute;
    margin: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333333;
  }

  &.sa_small {
    & select {
      font-size: $saFormFontSizeSmall;
      padding: 4px 20px 4px 8px;
      width: $saFormFieldWidthSmall;
    }

    & .arrow {
      top: 10px;
      right: 10px;
    }
  }

  &.sa_medium {
    & select {
      font-size: $saFormFontSizeSmall;
      padding: 6px 22px 6px 10px;
      width: $saFormFieldWidthMedium;
    }
    & .arrow {
      top: 14px;
      right: 10px;
    }
  }

  &.sa_large {

  }

  &.sa_darktheme {
    & select:focus {
      border-color: $saFormDarkThemeValidBorderColor;
    }
  }

  &.sa_lighttheme {
    & select:focus {
      border-color: $saFormLightThemeValidBorderColor;
    }
  }
}

.sa_checkbox_wrapper {
  margin-bottom: 6px;

  & input[type="checkbox"] {
    display: inline-block;
    text-align: right;
  }

  & label {
    display: inline-block;
    text-align: left;
  }
}

.sa_label {
  @extend .helvetica;

  &.sa_small {
    font-size: $saFormFontSizeSmall;
  }

  &.sa_medium {
    font-size: $saFormFontSizeMedium;
  }

  &.sa_large {
    font-size: $saFormFontSizeLarge;
  }

  &.sa_darktheme {
    color: $saFormDarkThemeLabelFontColor;
  }

  &.sa_lighttheme {
    color: $saFormLightThemeLabelFontColor;
  }
}

.sa_input {
  @extend .helvetica;

  @include placeholder {
    color: $saFormPlaceholderFontColor;
  }

  &:not([type="checkbox"]) {
    @include border-radius($saFormBorderRadius);
    background: $saFormInputBackgroundColor;
    border: solid $saFormBorderThickness;
    border-color: transparent;
    display: inline-block;
    outline: none;
  }

  &[type="checkbox"] {
    font-size: 100%;
  }

  &.sa_tiny {
    font-size: $saFormFontSizeTiny;
    margin: $saFormInputMarginTiny;
    padding: $saFormInputPaddingTiny;

    &:not([type="checkbox"]) {
      width: $saFormInputWidthSmall;
    }
  }

  &.sa_small {
    font-size: $saFormFontSizeSmall;
    margin: $saFormInputMarginSmall;
    padding: $saFormInputPaddingSmall;

    &:not([type="checkbox"]) {
      width: $saFormInputWidthSmall;
    }
  }

  &.sa_medium {
    font-size: $saFormFontSizeMedium;
    margin: $saFormInputMarginMedium;
    padding: $saFormInputPaddingMedium;

    &:not([type="checkbox"]) {
      width: $saFormInputWidthMedium;
    }
  }

  &.sa_large {
    font-size: $saFormFontSizeLarge;
    margin: $saFormInputMarginLarge;
    padding: $saFormInputPaddingLarge;
  }

  &.sa_darktheme {
    color: $shiftCharcoal;

    &:focus {
      border-color: $saFormDarkThemeValidBorderColor;
    }

    &.ng-invalid.ng-dirty, &.ng-invalid.ng-dirty:focus {
      border-color: $saFormDarkThemeInvalidBorderColor;
    }

    &.ng-invalid.ng-pristine {
      border-color: transparent;
    }

    &:focus, &.ng-pristine:focus, &.ng-valid:focus {
      border-color: $saFormDarkThemeValidBorderColor;
    }
  }

  &.sa_lighttheme {
    color: $shiftCharcoal;

    &.ng-invalid.ng-dirty, &.ng-invalid.ng-dirty:focus {
      border-color: $saFormLightThemeInvalidBorderColor;
    }

    &.ng-invalid.ng-pristine {
      border-color: transparent;
    }

    &:focus, &.ng-pristine:focus, &.ng-valid:focus {
      border-color: $saFormLightThemeValidBorderColor;
    }
  }

}

.sa_form_title {
  @extend .oswald_med;
  text-align: center;

  &.sa_small {
    font-size: 2.2em;
    margin-bottom: 5px;
  }

  &.sa_medium {
    font-size: 2.4em;
    margin-bottom: 8px;
  }

  &.sa_large {

  }

  &.sa_darktheme {
    color: $shiftGray;
  }

  &.sa_lighttheme {
    color: darken($shiftGray, 8%);
  }
}

.sa_form_subtitle {
  @extend .oswald_med;
  text-align: center;

  &.sa_small {
    font-size: 1em;
    margin-bottom: 20px;
  }

  &.sa_medium {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  &.sa_large {

  }

  &.sa_darktheme {
    color: $shiftOffwhite;
  }

  &.sa_lighttheme {
    color: $shiftCharcoal;
  }
}

.sa_form_group {
  & label {
    display: inline-block;
    text-align: right;
  }

  &.sa_small {
    margin-bottom: 4px;

    & label {
      width: 6.5em;
    }
  }

  &.sa_medium {
    margin-bottom: 6px;

    & label {
      width: 6.8em;
    }
  }

  &.sa_large {
  }

  .sa_input_prepend, .sa_input_append {
    display: inline-block;
    font-size: 0px;
    white-space: nowrap;
    vertical-align: middle;

    .sa_input {
      display: inline-block;
      vertical-align: top;
    }

    .add-on {
      background-color: $saFormInputBackgroundColor;
      border: solid $saFormBorderThickness;
    border-color: transparent;
      color: $saFormAddonFontColor;
      display: inline-block;
      vertical-align: top;
    }

    &.sa_small {
      .add-on {
        font-size: $saFormFontSizeSmall;
        margin: $saFormInputMarginSmall;
        padding: nth($saFormInputPaddingSmall, 1) 4px;
      }

      .sa_input {
        font-size: $saFormFontSizeSmall;
        margin: $saFormInputMarginSmall;
        padding: $saFormInputPaddingSmall;
      }
    }

    &.sa_medium {
      .add-on {
        font-size: $saFormFontSizeMedium;
        margin: $saFormInputMarginMedium;
        padding: nth($saFormInputPaddingMedium, 1) 6px;
      }

      .sa_input {
        font-size: $saFormFontSizeMedium;
        margin: $saFormInputMarginMedium;
        padding: $saFormInputPaddingMedium;
      }
    }
  }


  .sa_input_prepend {
    .sa_input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0 !important;
    }

    .add-on:first-child {
      @include border-radius($saFormBorderRadius 0 0 $saFormBorderRadius);
      margin-right: -1px !important;
      min-width: 16px;
    }

    &.sa_small .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthSmall - 24px;
    }

    &.sa_medium .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthMedium - 28px;
    }
  }

  .sa_input_append {
    .sa_input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0 !important;
    }

    .add-on:last-child {
      @include border-radius(0 $saFormBorderRadius $saFormBorderRadius 0);
      border-left: none;
      margin-left: 0 !important;
      min-width: 22px;
    }

    &.sa_small .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthSmall - 30px;
    }

    &.sa_medium .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthMedium - 34px;
    }
  }

  .sa_input_append.sa_input_prepend {
    &.sa_small .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthSmall - 54px;
    }

    &.sa_medium .sa_input:not([type="checkbox"]) {
      width: $saFormInputWidthMedium - 62px;
    }
  }
}

.sa_form_controls {
  text-align: center;

  &.sa_small {
    margin-top: 15px;
  }

  &.sa_medium {
    margin-top: 15px;
  }

  &.sa_large {
    margin-top: 15px;
  }
}

.sa_form_content_wrapper {
  text-align: center;
  width: 100%;
}

.sa_form {
  &.sa_darktheme {
    & .sa_label, .sa_input, .sa_form_title, .sa_form_subtitle, .sa_select_wrapper {
      @extend .sa_darktheme;
    }
  }

  &.sa_lighttheme {
    & .sa_label, .sa_input, .sa_form_title, .sa_form_subtitle, .sa_select_wrapper {
      @extend .sa_lighttheme;
    }
  }
}